    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>What we do</h2>
              <br/>
              <h4>
                <p>PersonalData.IO is a free web service aimed at helping people access their personal data.</p>
                <p>We think this access is essential for a more transparent, fair and useful internet.</p>
                <p>Our automated agents address requests on your behalf, but ask for your data to be sent directly to you. As they interact more and more with the same firm, they learn to craft more precise and effective requests.</p>
                <br/>
              </h4>
              </div>
        </div>
    </section>
